VITE_XPERKS_CONTRACT=
VITE_XLAYER_RPC=https://testrpc.xlayer.tech/terigon
VITE_SUPABASE_URL=https://rfuxxeiceieqffudwyaw.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_WDGuRMl4VT4ExCyffLA-3w_IfX0l0i9
